{% extends 'base.html.twig' %}

{% block body %}
    <h5>Congratulations!</h5>
    <p>Your account was successfully confirmed, now you can
        <a href="{{ path('login') }}">Sign in</a></p>
{% endblock %}