<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation of registration</title>
</head>
<body>
<div class="container">
    <p>Welcome, {{ user.username }}!</p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ app.request.schemeAndHttpHost }}{{ path('email_confirmation', {'code': user.confirmationCode }) }}">Confirm my Email</a></p>
</div>
</body>
</html>